<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ourhome.auth.dao.UserDao">
	<!-- 회원 가입 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO user (user_id, password, name, birth, gender)
		VALUES (#{userId}, #{password}, #{name}, #{birth}, #{gender});
	</insert>
	
	<!-- 로그인 -->
	<select id="selectUser" resultType="User" parameterType="String">
		SELECT * FROM user
		WHERE user_id = #{id} AND password = #{password}
	</select>
</mapper>
